org.talend.mdm.core.storage.sql/src/test/resources/com/amalto/core/save/metadata1.xsd

<!--
~ Copyright (C) 2006-2019 Talend Inc. - www.talend.com
~
~ This source code is available under agreement available at
~ %InstallDIR%\features\org.talend.rcp.branding.%PRODUCTNAME%\%PRODUCTNAME%license.txt
~
~ You should have received a copy of the agreement
~ along with this program; if not, write to Talend SA
~ 9 rue Pages 92150 Suresnes, France
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" blockDefault=""
            elementFormDefault="unqualified" finalDefault="">
    <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
    <xsd:element abstract="false" name="Agent" nillable="false" type="AgentType">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
            <xsd:appinfo source="X_Write">User</xsd:appinfo>
        </xsd:annotation>
        <xsd:unique name="Agent">
            <xsd:selector xpath="."/>
            <xsd:field xpath="Id"/>
        </xsd:unique>
    </xsd:element>
    <xsd:complexType abstract="false" mixed="false" name="AgentType">
        <xsd:all maxOccurs="1" minOccurs="1">
            <xsd:element maxOccurs="1" minOccurs="0" name="Picture" nillable="false" type="PICTURE">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    <xsd:appinfo source="X_Write">User</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="Id" nillable="false" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    <xsd:appinfo source="X_Write">User</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="Firstname" nillable="false" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    <xsd:appinfo source="X_Write">User</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="Lastname" nillable="false" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    <xsd:appinfo source="X_Write">User</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="AgencyFK" nillable="false" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_ForeignKey">Agency/Id</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">Agency/Name</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">Agency/City</xsd:appinfo>
                    <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="CommissionCode" nillable="false" type="CommissionCodes">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    <xsd:appinfo source="X_Write">User</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Counters">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="1" name="UUIDCounter" nillable="false" type="UUID">
                            <xsd:annotation>
                                <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                                <xsd:appinfo source="X_Write">User</xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="AutoIncrementCounter" nillable="false"
                                     type="AUTO_INCREMENT">
                            <xsd:annotation>
                                <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                                <xsd:appinfo source="X_Write">User</xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="StartDate" nillable="false" type="xsd:date">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    <xsd:appinfo source="X_Write">User</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="TermDate" nillable="false" type="xsd:date">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Status" nillable="false" type="AgentStatus">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:simpleType name="CommissionCodes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element abstract="false" name="Agency" nillable="false" type="AgencyType">
        <xsd:annotation>
            <xsd:appinfo source="X_PrimaryKeyInfo">Agency/Name</xsd:appinfo>
            <xsd:appinfo source="X_PrimaryKeyInfo">Agency/City</xsd:appinfo>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
            <xsd:appinfo source="X_Write">User</xsd:appinfo>
        </xsd:annotation>
        <xsd:unique name="Agency">
            <xsd:selector xpath="."/>
            <xsd:field xpath="Id"/>
        </xsd:unique>
    </xsd:element>
    <xsd:complexType abstract="false" mixed="false" name="AgencyType">
        <xsd:all maxOccurs="1" minOccurs="1">
            <xsd:element maxOccurs="1" minOccurs="1" name="Id" nillable="false" type="UUID">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    <xsd:appinfo source="X_Write">User</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Value" nillable="false" type="UUID">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    <xsd:appinfo source="X_Write">User</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="Name" nillable="false" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    <xsd:appinfo source="X_Write">User</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="City" nillable="false" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    <xsd:appinfo source="X_Write">User</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="State" nillable="false" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Zip" nillable="false" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Region" nillable="false" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Information">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="MoreInfo" nillable="false" type="URL">
                            <xsd:annotation>
                                <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                                <xsd:appinfo source="X_Write">User</xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Product">
        <xsd:annotation>
            <xsd:appinfo source="X_Lookup_Field">Product/Availability</xsd:appinfo>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
            <xsd:appinfo source="X_Write">User</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all maxOccurs="1" minOccurs="1">
                <xsd:element maxOccurs="1" minOccurs="0" name="Picture" type="PICTURE">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Description" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Features">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Write">User</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Sizes">
                                <xsd:annotation>
                                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                                    <xsd:appinfo source="X_Write">User</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" name="Size" type="Size">
                                            <xsd:annotation>
                                                <xsd:appinfo source="X_Write">User</xsd:appinfo>
                                                <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Colors">
                                <xsd:annotation>
                                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                                    <xsd:appinfo source="X_Write">User</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" name="Color" type="Color">
                                            <xsd:annotation>
                                                <xsd:appinfo source="X_Write">User</xsd:appinfo>
                                                <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Availability" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Write">User</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Price" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Family" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">ProductFamily/Id</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">ProductFamily/Name</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Write">User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="OnlineStore" type="URL">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Stores">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                            <xsd:appinfo source="X_Write">User</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:sequence>
                            <xsd:annotation>
                                <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                                <xsd:appinfo source="X_Write">User</xsd:appinfo>
                            </xsd:annotation>
                            <xsd:element minOccurs="1" maxOccurs="unbounded" name="Store" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="Product">
            <xsd:selector xpath="."/>
            <xsd:field xpath="Id"/>
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="Size">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Small"/>
            <xsd:enumeration value="Medium"/>
            <xsd:enumeration value="Large"/>
            <xsd:enumeration value="X-Large"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Color">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="White"/>
            <xsd:enumeration value="Light Blue"/>
            <xsd:enumeration value="Light Pink"/>
            <xsd:enumeration value="Lemon"/>
            <xsd:enumeration value="Khaki"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="ProductFamily">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
            <xsd:appinfo source="X_Write">User</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all maxOccurs="1" minOccurs="1">
                <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="AUTO_INCREMENT">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="ProductFamily">
            <xsd:selector xpath="."/>
            <xsd:field xpath="Id"/>
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="PICTURE">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="URL">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="AgentStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="approved"/>
            <xsd:enumeration value="terminated"/>
            <xsd:enumeration value="pending"/>
            <xsd:enumeration value="rejected"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ComStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="pending"/>
            <xsd:enumeration value="approved"/>
            <xsd:enumeration value="rejected"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="UUID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="AUTO_INCREMENT">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>
