org.talend.mdm.core.storage.sql/src/test/resources/com/amalto/core/storage/MultiLevelRefRTE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.w3.org/2001/XMLSchema" />
    <xsd:element name="EntityC">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BaseType" type="BaseType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_AutoExpand">false</xsd:appinfo>
                        <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="EntityC">
            <xsd:selector xpath="." />
            <xsd:field xpath="Id" />
        </xsd:unique>
    </xsd:element>
    <xsd:complexType name="BaseType">
        <xsd:sequence />
    </xsd:complexType>
    <xsd:complexType name="StudentType">
        <xsd:complexContent>
            <xsd:extension base="BaseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CircleType" type="CircleType">
                        <xsd:annotation>
                            <xsd:appinfo source="X_AutoExpand">true</xsd:appinfo>
                            <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TeacherType">
        <xsd:complexContent>
            <xsd:extension base="BaseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TeacherCircleType" type="CircleType">
                        <xsd:annotation>
                            <xsd:appinfo source="X_AutoExpand">true</xsd:appinfo>
                            <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ScientistType">
        <xsd:complexContent>
            <xsd:extension base="BaseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ScientistCircleType" type="CircleType">
                        <xsd:annotation>
                            <xsd:appinfo source="X_AutoExpand">true</xsd:appinfo>
                            <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="EntityD">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="NameEda" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="RefEntityC" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey">EntityC/Id</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="EntityB" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey">EntityB/Id</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="EntityD">
            <xsd:selector xpath="." />
            <xsd:field xpath="Id" />
        </xsd:unique>
    </xsd:element>
    <xsd:complexType name="EdaDateType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="eda" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_ForeignKey">EntityD/Id</xsd:appinfo>
                    <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">EntityD/NameEda</xsd:appinfo>
                    <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="dateDebutApplication" type="xsd:date">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- Objet PerimetreAjustement -->
    <xsd:complexType name="CircleType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" name="entitesPassees">
                <xsd:annotation>
                    <xsd:appinfo source="X_AutoExpand">false</xsd:appinfo>
                    <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="EDAs">
                            <xsd:annotation>
                                <xsd:appinfo source="X_AutoExpand">false</xsd:appinfo>
                                <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="EDA" type="EdaDateType">
                                        <xsd:annotation>
                                            <xsd:appinfo source="X_AutoExpand">false</xsd:appinfo>
                                            <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="entitesPresentes">
                <xsd:annotation>
                    <xsd:appinfo source="X_AutoExpand">true</xsd:appinfo>
                    <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="EDAs">
                            <xsd:annotation>
                                <xsd:appinfo source="X_AutoExpand">true</xsd:appinfo>
                                <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="EDA" type="EdaDateType">
                                        <xsd:annotation>
                                            <xsd:appinfo source="X_AutoExpand">false</xsd:appinfo>
                                            <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="entitesFutures">
                <xsd:annotation>
                    <xsd:appinfo source="X_AutoExpand">false</xsd:appinfo>
                    <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="EDAs">
                            <xsd:annotation>
                                <xsd:appinfo source="X_AutoExpand">false</xsd:appinfo>
                                <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="EDA" type="EdaDateType">
                                        <xsd:annotation>
                                            <xsd:appinfo source="X_AutoExpand">false</xsd:appinfo>
                                            <xsd:appinfo source="X_Write">RAP_Admin</xsd:appinfo>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="EntityB">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="EntityB">
            <xsd:selector xpath="." />
            <xsd:field xpath="Id" />
        </xsd:unique>
    </xsd:element>
</xsd:schema>